html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* 隐藏 Ant Design Vue 日期选择框禁用时间 */
/* 时 */
/*.hied-ant-picker-time-panel-cell-disabled .ant-picker-content :nth-child(1) .ant-picker-time-panel-cell-disabled {*/
/*  height: 0;*/
/*  font-size: 0;*/
/*}*/
/* 分 */
.hied-ant-picker-time-panel-cell-disabled .ant-picker-content :nth-child(2) .ant-picker-time-panel-cell-disabled {
  height: 0;
  font-size: 0;
}
/* 秒 */
.hied-ant-picker-time-panel-cell-disabled .ant-picker-content :nth-child(3) .ant-picker-time-panel-cell-disabled {
  height: 0;
  font-size: 0;
}